<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.kalinec.dndencounters">

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.modules.EditModule"></activity>
        <activity android:name=".activities.modules.AddModule" />
        <activity android:name=".activities.modules.ListModules" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.players.Players" />
        <activity android:name=".activities.players.AddPlayer" />
        <activity android:name=".activities.players.ViewPlayer" />
        <activity android:name=".activities.characters.AddCharacter" />
        <activity android:name=".activities.players.EditPlayer" />
        <activity android:name=".activities.characters.EditCharacter" />
        <activity
            android:name=".activities.encounters.ViewEncounters"
            android:label="@string/title_activity_view_encounters"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.encounters.AddEncounter" />
        <activity android:name=".activities.monsters.SelectMonster" />
        <activity android:name=".activities.encounters.EditEncounter" />
        <activity android:name=".activities.parties.CreateParty" />
        <activity android:name=".activities.characters.SelectCharacter" />
        <activity android:name=".activities.players.CreatePlayerAndCharacter" />
        <activity android:name=".activities.players.SelectPlayer" />
        <activity android:name=".activities.adventure_encounters.PlayAdventure" />
        <activity android:name=".activities.encounters.SelectEncounters" />
        <activity android:name=".activities.encounters.PlayEncounter" />
        <activity
            android:name=".activities.monster_tokens.ViewMonsterTokens"
            android:label="@string/title_activity_view_monster_tokens"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.monster_tokens.AddMonsterToken" />
        <activity android:name=".activities.monster_tokens.EditMonsterToken" />
        <activity android:name=".activities.adventure_encounters.SetupEncounter" />
        <activity android:name=".activities.encounters.SelectEncounter" />
        <activity android:name=".activities.monster_tokens.AssignMonsterTokens" />
        <activity android:name=".activities.adventure_encounters.AssignPlayerInitiative" />
        <activity android:name=".activities.encounter_turn.PlayerTurn" />
        <activity android:name=".activities.encounter_turn.MonsterTurn" />
        <activity android:name=".activities.spells.SearchSpells" />
        <activity android:name=".activities.spells.ViewSpell" />
        <activity
            android:name=".activities.custom_monsters.ViewMonsters"
            android:label="@string/title_activity_view_monsters"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.custom_monsters.AddCustomMonster" />
        <activity android:name=".dice.DiceRollerDialog" />
        <activity android:name=".activities.custom_monsters.EditCustomMonster" />
        <activity android:name=".activities.custom_monsters.ManageCustomMonsterAbility" />
    </application>

</manifest>